header{
    background-image: linear-gradient(rgb(134, 134, 184), rgb(150, 130, 130), rgb(0, 0, 0));
    padding: 20px
}
h1{
    color: whitesmoke;
}

#logo{
    border-radius: 100px;
    width: 250px;
}

@font-face {
    font-family:'Higuen';
    src: url('Higuen\ Serif.otf') format('OpenType')
       
}
.titulo-principal{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-30px -10px);
    font-size: 40px;
    font-family: 'Higuen';
}
main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0;
}