body{
    background-color: gray;
}
input[type=text]{
    background-color: rgb(105, 99, 121);
    color: rgb(255, 255, 255);
    width: 100%;
    border: 2px solid #555;
    border-radius: 4px;
}
input{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(172, 234, 238);
    color: rgb(126, 174, 214);
    font-size: 20px;
    width: 30px;
    height: 5px;
    border-color: azure;
    border-style: dotted;
    text-decoration: underline;
    font-weight: bold;
}
input[type=date]{
    color: rgb(139, 168, 223);
}
select{
    color: rgb(188, 204, 218);
}

